<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex">

      <%= link_to shoes_path, class: "navbar-brand" do %>
        <div class="d-flex justify-content-around">
          <%= image_tag "shoes.png", class: "m-1"%>
          <h1><strong>SNEAKERSPOT</strong></h1>
        </div>
      <% end %>

    </div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
         <li class="nav-item">
            <%= link_to "ðŸ‘Ÿ", my_shoes_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "âž•", shoes_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "ðŸ ", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown nav-user-icon">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%# shows the current_user's profile photo if it exists %>
          <% if current_user.photo.attached?  %>
            <%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill,  class: "avatar", alt: "dropdown menu" %>
          <% else %>
          <%# if no image exists then it shows an avatar placeholder image %>
            <%= image_tag "https://www.darylroththeatre.com/wp-content/uploads/2018/10/avatar-placeholder.png", class: "avatar", alt: "dropdown menu" %>
          <% end %>

          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
