<div class="index-header">

  <%# Page Title %>
  <div class="col-6 p-0">
    <h1 class="text-center m-0 p-0"> AVAILABLE TO RENT</h1>
  </div>

  <%# Search bar %>

  <div class="col-6">
    <%= form_with url: shoes_path, method: :get, class: "d-flex align-items-center" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control search-field",
            placeholder: "Search Your Sneaker"
        %>
      <%= button_tag class:"search-btn", type:"submit" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %>
</div>



<br>

</div>


<div class="row">
    <% @shoes.each do |shoe| %>

    <%= link_to shoe_path(shoe) do %>
      <div class="card col-2 m-1" style="width: 25%;">
        <img class="card-img-top" src="https://source.unsplash.com/random?nike" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= shoe.name %> </h5>
            <p class="card-text">
            Brand: <%= shoe.brand %>
            <br>
            Daily Rate: <%= shoe.price_per_day %>
            </p>
        </div>
      </div>
    <% end %>

  <% end %>

</div>
