<div class="index-header">

  <%# Page Title %>
  <div class="col-6 p-0 text" >
    <h1 class="text-center m-0 p-0"> AVAILABLE TO RENT</h1>
  </div>



  <div class="col-6">
    <%= form_with url: shoes_path, method: :get, class: "d-flex align-items-center" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control search-field",
            placeholder: "Search Your Sneaker"
        %>
      <%= button_tag class:"search-btn", type:"submit" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %>
</div>



<br>

</div>


<div class="row">

  <% @shoes.each do |shoe| %>
    <%= link_to shoe_path(shoe), class:"col-4 p-0" do %>
    <div class="card m-2 card-hover">
        <%= cl_image_tag shoe.photos.first.key, height: 200, style:"object-fit:cover;" %>
          <div class="card-body">
            <h5 class="card-title"><%= shoe.name %> </h5>
            <p class="card-text">
              Brand: <%= shoe.brand %>
              <br>
              Daily Rate: £<%= shoe.price_per_day %>
            </p>
        </div>
      </div>
    <% end %>

  <% end %>

</div>
