<div class="new-container">
  <h1>Add a new Shoe</h1>
  <%= simple_form_for(@shoe) do |f| %>
    <%= f.input :name %>
    <%= f.input :brand %>
    <%= f.input :price_per_day %>
    <%= f.input :city %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }%>
    <%= f.submit %>
  <% end %>
</div>
