<div class="sub_nav">
</div>

<div class="row">
  <%# <%= link_to "All Shoes", shoes_path, class:" btn btn-sm btn-light text-center col-1 align-self-end" %>
  <%# button to go back to all shoes %>
  <h1 class="text-left col-12 green-georgia" > DETAILS</h1>
</div>


<div class="product-details d-flex justify-content-center" style="width: 100%; height: 700px;gap: 3rem;">

  <div class="img_card d-flex align-items-center justify-content-around" style="width: 700px; height: 700px; gap: 1rem;">

    <div class="main_img">
      <img src="https://source.unsplash.com/random/" class="rounded align-middle p-2" alt="..." width="500px" height="700px"
      style="object-fit:cover;"
      >
    </div>

    <div class="side_imgs" style="height: 102%;" >

      <div class="text-center mb-3 mt-3">
        <img src="https://source.unsplash.com/random/" class="rounded" alt="..." width="200px" height="200px" style="object-fit:cover;">
      </div>

      <div class="text-center mb-3">
        <img src="https://source.unsplash.com/random/" class="rounded" alt="..." width="200px" height="200px" style="object-fit:cover;">
      </div>

      <div class="text-center mb-3">
        <img src="https://source.unsplash.com/random/" class="rounded" alt="..." width="200px" height="200px" style="object-fit:cover;">
      </div>

    </div>

  </div> <%# Image carousel place holder %>

  <div class="product-info p-2">

    <div class="product-info-card" style="width: 35vw">
      <div class="card" style="width: 100%" style="height:100%">
        <div class="card-body">
          <h5 class="card-title"><%= @shoe.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Brand: <%= @shoe.brand %></h6>
          <p class="card-text">
           Daily Rate: £<%= @shoe.price_per_day %> <br>
            Status: <%= @shoe.is_rented ? "Currently rented" : "Not yet rented" %> <br>
            Owner: <%= @shoe.user.first_name %> <br>
          </p>
        </div>
      </div>
    </div> <%# product-info-card %>

    <%= link_to "RENT SHOE", new_shoe_booking_path(@shoe), class:"btn btn-success my-2 btn-lg btn-block", style: "width: 100%;", data: { bs_toggle: "modal", bs_target: "#exampleModal" }%>
    <%# button to rent %>

    <div style="width: 100%; height: 450px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      class = "m-2">
    </div>
    <div class="rent-form d-none"></div>

  </div> <%# product-info %>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">My title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <%= simple_form_for [@shoe, @booking] do |f| %>
          <%= f.input :start_date, html5: true %>
          <%= f.input :end_date, html5: true %>
          <button> <%= f.button :submit %> </button>
      <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
