<!DOCTYPE html>
<html>
  <head>
    <title>ShoeBnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "shared/navbar" unless params[:action] == 'home' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="<%= 'container' unless params[:action] == 'home' %>">
      <%= yield %>
        <p class="notice m-0"><%= notice %></p>
        <p class="alert m-0"><%= alert %></p>
    </div>
  </body>
</html>
